<!doctype html>
<html lang="en" xml:lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="en" http-equiv="Content-Language">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Office of Innovation - State of California" name="author">
    <link href="https://www.google-analytics.com" rel="preconnect">
    <meta content="#000000" name="theme-color">
    <title>{% if title %}{{ title }}{% else %}California Office of Digital Innovation{% endif %}{% if title != "Office of Digital Innovation" %} | Office of Digital Innovation{% endif %}</title>

    <meta name="description" content="{{ data.og_meta.page_description | striptags }}" />
    <link rel="icon" href="/img/favicon.png">

    <!-- OG tags -->
    <meta property="og:description" content="{{ data.og_meta.open_graph_description | striptags }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% if data.og_meta.page_social_image_url %}{{ data.og_meta.page_social_image_url | changeDomain(domain) }}{% else %}{% if previewimage %}/{{ previewimage }}{% else %}https://digital.ca.gov/img/ODI-socialmedia-share_1200x630.png{% endif %}{% endif %}" />
    <meta property="og:image:width" content="{% if data.og_meta.page_social_image_url %}{{ data.og_meta.page_social_image_width }}{% else %}{% if previewimage %}608{% else %}1200{% endif %}{% endif %}" />
    <meta property="og:image:height" content="{% if data.og_meta.page_social_image_url %}{{ data.og_meta.page_social_image_height }}{% else %}{% if previewimage %}304{% else %}630{% endif %}{% endif %}" />
    <meta property="og:image:alt" content="{% if data.og_meta.page_social_image_alt %}{{ data.og_meta.page_social_image_alt }}{% endif %}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{ data.og_meta.site_name }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ data.og_meta.twitter_title }}" />
    <meta property="twitter:image" content="{% if data.og_meta.page_social_image_url %}{{ data.og_meta.page_social_image_url | changeDomain(domain) }}{% else %}{% if previewimage %}/{{ previewimage }}{% else %}https://digital.ca.gov/img/ODI-socialmedia-share_1200x630.png{% endif %}{% endif %}" />
    <meta property="twitter:image:alt" content="{% if data.og_meta.page_social_image_alt %}{{ data.og_meta.page_social_image_alt }}{% endif %}" />
    <meta property="twitter:image:width" content="{% if data.og_meta.page_social_image_url %}{{ data.og_meta.page_social_image_width }}{% else %}{% if previewimage %}608{% else %}1200{% endif %}{% endif %}" />
    <meta property="twitter:image:height" content="{% if data.og_meta.page_social_image_url %}{{ data.og_meta.page_social_image_height }}{% else %}{% if previewimage %}304{% else %}630{% endif %}{% endif %}" />
    <!-- CSS -->
    {% block css %}
      {% set css %}
        {% include "../../_site_dist/index.css" %}
      {% endset %}
      <!-- the inlined hardcoded grid css below is there because it was breaking sass compilation -->
      <style>
        {{ css | safe }}
        .cagov-grid {
          grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
        }
      </style>
    {% endblock %}

    {% block js %}
      {% set js %}
        {% include "../../_site_dist/built.js" %}
      {% endset %}
      <script type="module">
        {{ js | safe }}
      </script>
    {% endblock %}
  </head>
  <body>
    <div id="skip-to-content"><a href="#body-content">Skip to content</a></div>

    <header class="header-container">
      {% block statewideHeader %}
        {% include "statewide-header.njk" %}
      {% endblock %}

      {% block siteHeader %}
        {% include "site-header.njk" %}
      {% endblock %}

      {% block siteNavigation %}
        {% include "site-navigation.njk" %}
      {% endblock %}
    </header>

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <div class="footer-container">
      {% block agencyFooter %}
        {% include "site-footer.njk" %}
      {% endblock %}
      {% block statewideFooter %}
        {% include "statewide-footer.njk" %}
      {% endblock %}
    </div>
    {% block analytics %}
      {% include "analytics.njk" %}
    {% endblock %}
  </body>
</html>


