{% macro breadcrumb(articleId, articleTitle, collections) %}
<div class="breadcrumb" aria-label="Breadcrumb" role="region">
  <a class="crumb" href="https://ca.gov" title="CA.gov">CA.gov</a>
  
  <span class="crumb separator">/</span>
  <a class="crumb" href="/" title="Office of Data and Innovation">Office of Data and Innovation</a>

  {% set crumbs = collections.all | eleventyNavigationBreadcrumb(articleId) %}
  {%- for crumb in crumbs %}
    <span class="crumb separator">/</span>
    {% if crumb.title == 'Projects' or crumb.title == 'CalAcademy' %}
      <a class="crumb" href="{{ crumb.url }}">{{ crumb.title | safe }}</a>
    {% else %}
    <span class="crumb">{{ crumb.title | safe }}</span>
    {% endif %}
  {%- endfor %}
  
  <span class="crumb separator">/</span>
  <span class="crumb current">{{ articleTitle | safe }}</span>
</div>
{% endmacro %}