<!doctype html>
<html lang="en" xml:lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="en" http-equiv="Content-Language">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Office of Digital Innovation - State of California" name="author">
    <link href="https://www.google-analytics.com" rel="preconnect">  
    <meta content="#000000" name="theme-color">
    <meta content="https://alpha.ca.gov/img/thumbnail.png" property="og:image">
    <meta content="630" property="og:image:height">
    <meta content="630" property="og:image:width">
    <meta content="California Office of Digital Innovation" property="og:title">
    <meta content="California Office of Digital Innovation (ODI)" property="og:description">
    <meta content="https://digital.ca.gov/" property="og:url">
    <meta content="summary_large_image" name="twitter:card">
    <title>California Office of Digital Innovation</title>
    <meta content="California Office of Digital Innovation (ODI)" name="description">
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
      {% include "../css/home.min.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | safe }}
    </style>
    </head>
  <body>
    <header>
      <div class="official">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>State of California</p>
      </div>
    </div>
  </div>
</div>

      <nav class="navbar navbar-inverse">
	<div class="container">
		<div class="float-left navbar-header">
			<a href="/" class="navbar-brand navbar-left">CA.gov</a>
		</div>
	</div>
</nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <div class="alpha-footer footer mt-0">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="flex-fill list list-group list-group-flush list-group-horizontal-lg">
                <li class="alpha-footer list-group-item">
                  <a href="/contact-us/">Contact Us</a>
                </li>
              </ul>
              <p>Official California State Government Website</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- capture the JS content as a Nunjucks variable -->
{% set js %}
  {% include "../../_site/js/built.js" %}
{% endset %}
<!-- feed it through our jsmin filter to minify -->
<script type="module">
  {{ js | safe }}
</script>
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-154336791-1', 'auto');
  ga('send', 'pageview');
  </script>
  <script async defer src='https://www.google-analytics.com/analytics.js'></script>

</html>