  <div class="page-score-info">
  <p>ODI grades the reading level, performance, and accessibility of all our webpages. Here are this page’s scores as of the last update:</p>

  <div class="score-display">
    {% if lighthouse.performance.score %}
      <span class="page-score-details">
        <span class="page-score-block p-a-2">
          <span class="speedlify-score {{ lighthouse.performance.displayClass }}">{{ lighthouse.performance.displayScore }}</span>
          <span>Performance</span>
        </span>
        <a href="/page-score-info/#performance">Why is performance important</a>
      </span>
    {% endif %}
    {% if lighthouse.accessibility.score %}
      <span class="page-score-details">
        <span class="page-score-block p-a-2">
          <span class="speedlify-score {{ lighthouse.accessibility.displayClass }}">{{ lighthouse.accessibility.displayScore }}</span>
          <span>Accessibility</span>
        </span>
        <a href="/page-score-info/#accessibility">Why is accessibility important</a>
      </span>
    {% endif %}
    {% if readability.ari %}
      <span class="page-score-details">
        <span class="page-score-block p-a-2">
          <span data-ari-score="{{ readability.ari }}" class="speedlify-score {{ readability.displayClass }}">{{ readability.displayScore }}</span>
          <span>Readability</span>
        </span>
        <a href="/page-score-info/#readability">Why is readability important</a>
      </span>
    {% endif %}
  </div>
</div>
