{% extends "base-layout.njk" %}

{% block content %}
  <div id="page-container" class="page-container-ds">
    <div class="single-column">
      <main id="body-content">
        <h1 class="page-title">{{ title | safe }}</h1>
        <article id="post-{{ page.fileSlug }}">       
          <div class="category-label">{{ category | safe }}</div>
          <div class="entry-content">
            {% if author %}
              <p class="text-muted byline">By {{author}}<br>{{publishdate | dateformat}}</p>
            {% endif %}
            {% if lead %}<p class="lead">{{ lead | safe }}</p>{% endif %}
            {{ content | safe }}
          </div>
        </article>
        <span class="return-top hidden-print"></span>
      </main>
    </div>
  </div>
{% endblock %}