<p>Page score info:</p>

<!--<p>Last modified: {{ppaScores[page.url].lastmod}}</p>-->
<style>
.speedlify-score {
  font-size: 0.8125em;
  min-width: 2.6em;
  height: 2.6em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #0cce6b;
  color: #088645;
}
</style>
<p>Plain language: <span class="speedlify-score">{{ ppaScores[page.url].readability.ari | calculateReadabilityGrade }}</span>ARI: {{ppaScores[page.url].readability.ari}}</p>
<p>Performance: <span class="speedlify-score">{{ppaScores[page.url].lighthouse.performance * 100}}</span></p>
<p>Accessibility: <span class="speedlify-score">{{ppaScores[page.url].lighthouse.accessibility  * 100}}</span></p>
