.cagov-aligned-group > .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.cagov-align-right {
  margin-left: 2rem;
}
.cagov-align-left {
  margin-right: 2rem;
}
.cagov-align-right, .cagov-align-left {
  img{
    border: none;
    max-width: none;
  }
}