.news-post h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.news-post main li,
.news-post main p {
  font-size: 20px;
}
.news-post main .byline {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
figure {
  margin-bottom: 10px;
}
figure iframe {
  max-width: 100%;
}
figure img {
  /* border: 1px solid #ccc; */
  margin-bottom: 20px;
  max-width: 100%;
}
figure.noborder img {
  border: none;
}
figcaption {
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.card {
  margin-bottom: 20px;
}
.card-set .card {
  min-width: 200px;
  float: left;
}
.card-set {
  grid-gap: 20px;
}
.clipper {
  max-height: 288px;
  overflow: hidden;
}
.align-center {
  margin: 0 auto;
}
.cagov-article-list .cagov-mt-3:first-child {
  margin-top: 2rem;
}

// wordpress table styles
.wp-block-table {
  th {
    padding: 1rem;
    text-align: left;
  }
  td {
    padding: 1rem;
    
    img {
      border: none;
    }
  }
}
.wp-block-table.is-style-regular {
  td {
    width: 50%;
  }
}

// this is a hack to make wordpress table markup responsive
.cagov-reponsive-note {
  display: none;
}
// THIS WAS PROBABLY INTENDED FOR ONE TABLE, but breaks others
// @media screen and (max-width: 600px) {	
//   figure.wp-block-table {

//     thead { display: none; }
    
//     tbody td {
//       display: block; 
//       text-align:center;

//       .cagov-reponsive-note {
//         display: block;
//         font-weight: bold;
//       }
//     }
//   }
// }



// hide the read more links on the blog index page because the excerpt contains HTML with links back to pantheon
.blog-excerpt .read-more {
  display: none;
}

.front-and-center img {
  margin: 1rem auto;
  display: block;
}

// media fixes - this adheres more closely to wordpress built-in media+text styles
.wp-block-media-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wp-block-media-text figure img {
  width: 100%;
}
.wp-block-media-text div {
  align-self: center;
  padding: 0 8%;
}
.wp-block-media-text.is-vertically-aligned-top div {
  align-self: flex-start !important;
}
.wp-block-media-text.is-vertically-aligned-bottom div {
  align-self: flex-end !important;
}
.wp-block-media-text.is-vertically-aligned-center div {
  align-self: center !important;
}

.wp-block-media-text.is-stacked-on-mobile {
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.wp-block-image .alignright {
  float: right;
  margin: .5em 0 .5em 1em;
}

cagov-pagination .cagov-pagination__item.cagov-pagination__overflow {
  border: none !important;
}