.mailchimp-wrapper {
  [type=email],
  [type=text] {
    border-radius: 3px;
    border: 1px solid var(--primary-900, #003688);
    display: block;
    padding: 3px;
    width: 100%;
  }
  .mc-field-group {
    margin-bottom: 1rem;
  };

  [type=submit] {
    color: var(--white, #fff) !important;  // overriding "!important" in @cagov/ds-base-css/src/_forms.scss. (A pox upon their houses.)
    margin-top: .5rem;
  }
}