.cagov-horizontal-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cagov-horizontal-list li {
  margin: 0 0 1rem 0;
}

ul.cagov-logo-list {
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;

  .centered-logo-link {
    img#logo-GO {
      width: 216px;
    }
    img#logo-CDPH {
      width: 200px;
    }
    img#logo-CALOES, img#logo-CDT, img#logo-EDD {
      width: 220px;
    }
    img#logo-CDSS {
      width: 256px;
    }
    img#logo-DWR, img#logo-BCSH {
      width: 128px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D4F8C;
    border-radius: 10px;
    // font-size: .875rem;
    // padding: .75rem;
    width: 268px;
    height: 154px;
    overflow: hidden;
    margin-bottom: 0;
  
    // flex-flow: column;
    // justify-content: space-between;
    // align-items: center;
  
    // span {
    //   text-align: center;
    // }
  }
  
}


.cagov-horizontal-list--left {
  justify-content: flex-start;
}
.centered-logo-link--medium {
  background: none;
  max-width: 240px;
  min-width: 240px;
  max-height: 222px;
  min-height: 222px;
  border: 1px solid #BCBBC1;
  padding: 1rem;
  margin: 0 1.5rem 1.5rem 0;
}
