/* the our work page uses a special layout: single-column-conditional hardcoded to that url in .eleventy.js
this class is applied to content on that page we want to be centered. Most content on that page is part of the tabs layout which needs full width */
.cagov-single-column {
  max-width: var(--w-page-content,876px);
  margin: 0 auto;
}
@media only screen and (max-width: 1176px) {
  .cagov-single-column, .single-column {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
main .cagov-single-column h2:first-child {
  margin-top: calc(var(--s-4) + var(--ratio));
}

.single-column img {
  max-width: 100%;
  height: auto;
}

main.landing-page {
  padding-left: 1rem;
  .cagov-featured-sidebar {
    padding-left: 0;
  }
}

/* get crazy with grid layout so we don't need duplicate h1 tags in the markup */
@media only screen and (max-width: 767px) {
  .single-column .ds-content-layout {
    display: grid;
    grid-template-rows: [first-row] auto [second-row] auto [third-row] auto;
    aside {
      grid-row: second-row;
    }
    .everylayout {
      display: contents;
      .main-primary {
        display: contents;
        article {
          display: contents;
        }
      }
    }
    cagov-page-navigation #page-navigation-label {
      display: none;
    }
  }
}