// theme overrides
body {
  background: var(--top-gradient);
  line-height: 1.75; /* This is an interesting override, need to double check with design team */
}
.official-header {
  background: var(--primary-dark-color, #00315f);
  color: #fff;
}
.official-header .container {
  padding-left: 24px; /* jbum align */
}
.page-container-ds {
  padding-left:16px; /* jbum align */
  padding-right:16px; /* jbum align */
}
cagov-site-navigation, .site-header {
  background: transparent;
  border-bottom: solid 1px var(--primary-color, #0D4F8C);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color, #0D4F8C);
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}
h3 {
  color: #000;
}

/* give homepage h1 space */
@media (min-width: 1176px) {
  .cagov-featured-sidebar {
    max-width: 40%;
  }
}

.site-header .org-name-dept {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}

/* make buttons not bold */
.wp-block-button__link, .wp-block-button__link:hover {
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Add new ca.gov logo to header and footer. */
.official-header svg {
  width: unset;
  height: 24px;
}
.official-header svg .cls-1 {
  fill: #fff;
  stroke-width: 0px;
}
footer .bg-light-grey a, footer .copyright {
  padding: 0;
}
footer .cagov-logo svg {
  display: block;
  margin-right: var(--s-3);
  height: 24px;
}
footer .cagov-logo svg .cls-1 {
  fill: url(#linear-gradient);
}
footer .cagov-logo svg .cls-1, .cls-2, .cls-3 {
  stroke-width: 0px;
}
footer .cagov-logo svg .cls-2 {
  fill: url(#linear-gradient-2);
}
footer .cagov-logo svg .cls-3 {
  fill: #f26724;
}