---
layout: page
title: Why Alpha.CA.gov is prioritizing APIs
meta: How Alpha.CA.gov is making data more accessible and useful
previewimage: img/thumb/APIs-Blog-Postman-Screenshot-1.jpg
lead: Making data more accessible and useful
author: JP Petrucione
publishdate: 02/21/2020
tags: news
permalink:
    possum: "/previewMode"
---

<pre>
id = {{- eleventy.serverless.query.id -}}
</pre>
<h1>THIS IS THE PREVIEW MODE</h1>

<figure class="figure">
  <img src="/img/thumb/APIs-Blog-Postman-Screenshot-1.jpg" class="" alt="Alpha.CA.gov API Postman repository">
  <figcaption class="figure-caption">A screenshot of the Alpha.CA.gov API Postman repository</figcaption>
</figure>

<p>When we kicked off Alpha, we did not expect to develop a suite of APIs. But as we started tackling user stories, we realized that many of them required the same data. So we iterated - and adopted an API first approach.</p>

<p>An <a href="https://www.redhat.com/en/topics/api/what-are-application-programming-interfaces">API</a>, or application programming interface, is a tool that allows different products and services to talk to each other without having to know how they’re built or implemented.</p>

<p>Without APIs, government data can be challenging to work with for users outside of academia or government. APIs help make sense of what are often massive amounts of data.</p>

<p>APIs are a critical component of the open data value proposition.</p>

<p>In practice, APIs are the “yes, and...” of open data. Yes - open data is incredibly valuable... and APIs are what make it possible for any developer to access and build on that data.</p>

<p>APIs provide a level of accessibility that makes government more accountable and, ultimately, more effective and efficient.</p>

<p>Creating open APIs is a normal part of the development process in both the private and public sectors. And our team’s “API first” approach incorporates a couple of iterations on the public sector version of this norm.</p>

<p>Our APIs are built for public use - and our code and development process is open to the public from start to finish.</p>

<p>We’re the first user of our APIs. We’ve tested, iterated and improved every API we’re building. We’re making sure they’re user friendly and ready for even more rigorous testing and improvement by the community.</p>

<p>Finally, underlying all of this is the belief championed by our dev team, <a href="https://www.linkedin.com/in/carter-medlin-b1839b15//">Carter Medlin</a>, <a href="https://www.linkedin.com/in/aaronhans/">Aaron Hans</a>, and <a href="https://www.linkedin.com/in/chadbratton/">Chad Bratton</a>, and our Product Designer, <a href="https://www.linkedin.com/in/lukefretwell/">Luke Fretwell</a> that: California’s data belongs to the people of California.</p>

<p>We believe deeply that APIs are essential to make data both available and accessible to the people of California. Building APIs is a logical step in our team’s work to make information and services simpler and more easily accessed.</p>

<p>Check out our <a href="https://api.alpha.ca.gov/">APIs</a>, take them for a test drive and help us iterate and improve on them.</p>




